* {
    outline: 1px solid red;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Calibri Light";
}
h1{
    font-size: 40px;
}
/*hiro*/
.hiro {
    background-image: url("../addons/test-landing-id3 1.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que los elementos principales ocupen el espacio */
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hiro .texts {
    width: 85vw;
    margin: 0 1em 1em; /* Elimina márgenes innecesarios y ajusta solo el espacio inferior */
    margin-top: auto; /* Empuja este div hacia el final del contenedor */
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; /* Mantiene la barra fija en la parte superior */
    width: 100vw;
}

.top-bar img {
    width: 30vw;
}
.hiro h3{
    max-width: 70%;
}

.hiro h1 {

    margin: 1rem 0;
    line-height: 40px;
}

.hiro .text-3 {
    font-size: 20px;
}
.hiro button{
    background-color: #EF7D00;
    color: white;
    border: none;
    margin:  1rem 0;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;

}
/*FIN HIRO*/


/*Design-dev*/
.design-dev {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


.design-dev .images{
    height: fit-content;
    width: 90%;
    margin: 1em;
}
.design-dev img{
    width: 100%;
}




/*FIN Design-dev*/
/*COLORS*/
.orange {
    color: #EF7D00;
}

.white {
    color: white;
}
